<p>Thank you for being part of the community on SciCAFE! Please click the
following link to verify your email:</p>
<p>Code: {{code}}</p>
<p>appUrl: {{appUrl}}</p>
{{!-- <p><a href="{{appUrl}}/api/registration/email/{{code}}">Verify Email</a></p> --}}