<p>Your rewards have been requested/collected</p>
<p>Click <a href="{{url}}rewards?type=OPEN">here</a> to view rewards that have been requesed</p>
<p>Click <a href="{{url}}rewards?type=CLOSED">here</a> to view rewards that have been collected</p>